<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TimeFlow.mapper.classification.ClassificationMapper">
    <select id="list" resultType="TimeFlow.pojo.TEClassification">
        SELECT * FROM ${tableName}
    </select>
    <insert id="add">
        INSERT INTO ${tableName} (id,name,text)
        values
            (#{newCL.id},#{newCL.name},#{newCL.text})
    </insert>
    <delete id="delete">
        DELETE FROM ${tableName}
        WHERE id = #{id}
    </delete>


</mapper>
