<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TimeFlow.mapper.event.LabelEventMapper">
    <insert id="insert">
        INSERT INTO ${tableName}
            (`name`, `attachdate`, `setInViewPage`, `isCompleted`, `text`)
        VALUES (#{event.name}, #{event.attachDate}, #{event.setInViewPage},
                #{event.isCompleted}, #{event.text})
    </insert>
    <update id="update">
        UPDATE ${tableName}
        <set>
            <if test="event.name != null">
                name = #{event.name},
            </if>
            <if test="event.attachDate != null">
                attachdate = #{event.attachDate},
            </if>
            <if test="event.setInViewPage != null">
                setInViewPage = #{event.setInViewPage},
            </if>
            <if test="event.text != null">
                text = #{event.text},
            </if>
            <if test="event.isCompleted != null">
                isCompleted = #{event.isCompleted}
            </if>
        </set>
        WHERE id = #{event.id}
    </update>
    <delete id="delete">
        DELETE
        FROM ${tableName}
        WHERE id = #{eid}
    </delete>

    <select id="findAll" resultType="TimeFlow.pojo.LabelEvent">
        SELECT *
        FROM ${tableName}
    </select>
    <select id="findByDate" resultType="TimeFlow.pojo.LabelEvent">
        SELECT *
        FROM ${tableName}
        WHERE to_days(attachdate) = to_days(#{date})
    </select>
    <select id="countLabelEventByMonth" resultType="TimeFlow.pojo.LabelEvent">
        SELECT *
        FROM ${tableName}
        WHERE DATE_FORMAT(attachdate, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
    </select>
    <select id="countLabelEventByYear" resultType="TimeFlow.pojo.LabelEvent">
        SELECT *
        FROM ${tableName}
        WHERE DATE_FORMAT(attachdate, '%Y') = DATE_FORMAT(#{date}, '%Y')
    </select>
</mapper>