<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TimeFlow.mapper.event.MomentEventMapper" >

    <select id="list" resultType="TimeFlow.pojo.MomentEvent" parameterType="java.lang.String">
--         存在SQL注入的风险https://blog.csdn.net/p312011150/article/details/88064387
        SELECT * FROM ${tableName} WHERE
            EXTRACT(YEAR FROM deadline) = EXTRACT(YEAR FROM #{date}) and
            EXTRACT(MONTH FROM deadline) = EXTRACT(MONTH FROM #{date}) and
            EXTRACT(DAY FROM deadline) = EXTRACT(DAY FROM #{date} )
    </select>

    <select id="countMomentEventByMonth" resultType="TimeFlow.pojo.MomentEvent">
        SELECT *
        FROM ${tableName}
        WHERE DATE_FORMAT(deadline, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
    </select>
    <select id="countMomentEventByYear" resultType="TimeFlow.pojo.MomentEvent">
        SELECT *
        FROM ${tableName}
        WHERE DATE_FORMAT(deadline, '%Y') = DATE_FORMAT(#{date}, '%Y')
    </select>

    <insert id="add">
        INSERT INTO ${tableName}
            (name,deadline,
             setInViewPage, text, completed)
        values
            (#{newME.name},#{newME.deadline},
             #{newME.setInViewPage}, #{newME.text}, #{newME.completed})
    </insert>

    <delete id="delete">
        DELETE FROM ${tableName}
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE ${tableName}
        <set>
            <if test="newME.name != null">
                name = #{newME.name},
            </if>
            <if test="newME.deadline != null">
                deadline = #{newME.deadline},
            </if>
            <if test="newME.setInViewPage != null">
                setInViewPage = #{newME.setInViewPage},
            </if>
            <if test="newME.text != null">
                text = #{newME.text},
            </if>
            <if test="newME.completed != null">
                completed = #{newME.completed}
            </if>
        </set>
        WHERE id = #{newME.id}
    </update>

</mapper>