<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TimeFlow.mapper.event.TimeEventMapper">
    <select id="list" resultType="TimeFlow.pojo.TimeEvent">
        SELECT * FROM ${tableName} WHERE
            EXTRACT(YEAR FROM startTime) = EXTRACT(YEAR FROM #{date}) and
            EXTRACT(MONTH FROM startTime) = EXTRACT(MONTH FROM #{date}) and
            EXTRACT(DAY FROM startTime) = EXTRACT(DAY FROM #{date})
    </select>
    <select id="listById" resultType="TimeFlow.pojo.TimeEvent">
        SELECT * FROM ${tableName} WHERE id IN
        <foreach collection="eid" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="add">
        INSERT INTO ${tableName}
        (id,name,startTime, overTime,
         setInViewPage,text,isCompleted)
        values
            (#{newTE.id},#{newTE.name},#{newTE.startTime},#{newTE.overTime},
             #{newTE.setInViewPage},#{newTE.text},#{newTE.isCompleted})
    </insert>
    <delete id="delete">
        DELETE FROM ${tableName}
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE ${tableName}
        <set>
            <if test="newTE.name != null">
                name = #{newTE.name},
            </if>
            <if test="newTE.startTime != null">
                startTime = #{newTE.startTime},
            </if>
            <if test="newTE.overTime != null">
                overTime = #{newTE.overTime},
            </if>
            <if test="newTE.setInViewPage != null">
                setInViewPage = #{newTE.setInViewPage},
            </if>
            <if test="newTE.text != null">
                text = #{newTE.text},
            </if>
            <if test="newTE.isCompleted != null">
                isCompleted = #{newTE.isCompleted}
            </if>
        </set>
        WHERE id = #{newTE.id}

    </update>

</mapper>