<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TimeFlow.mapper.event.TimeEventMapper">
    <select id="getday" resultType="TimeFlow.pojo.TimeEvent">
        SELECT *
        FROM ${tableName}
        WHERE 1 = 1
          and EXTRACT(YEAR FROM #{dateSTR}) = EXTRACT(YEAR FROM startTime)
          and EXTRACT(MONTH FROM #{dateSTR}) = EXTRACT(MONTH FROM startTime)
          and EXTRACT(DAY FROM #{dateSTR}) = EXTRACT(DAY FROM startTime)
    </select>
    <select id="list" resultType="TimeFlow.pojo.TimeEvent">
        SELECT *
        FROM ${tableName}
        WHERE 1 = 1
          and #{date} >= startTime
          and date_add(overTime, INTERVAL 1 day) >= #{date}
    </select>
    <select id="listById" resultType="TimeFlow.pojo.TimeEvent">
        SELECT * FROM ${tableName} WHERE id IN
        <foreach collection="eid" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getDayNum" resultType="TimeFlow.pojo.TimeEvent">
        SELECT *
        FROM ${tableName}
        WHERE DATE_FORMAT(startTime, '%Y-%m') &lt;= DATE_FORMAT(STR_TO_DATE(#{dateSTR}, '%Y-%m-%d'), '%Y-%m')
           OR DATE_FORMAT(overTime, '%Y-%m') >= DATE_FORMAT(STR_TO_DATE(#{dateSTR}, '%Y-%m-%d'), '%Y-%m');
    </select>
    <select id="getMonthNum" resultType="TimeFlow.pojo.TimeEvent">
        SELECT *
        FROM ${tableName}
        WHERE DATE_FORMAT(startTime, '%Y') &lt;= DATE_FORMAT(STR_TO_DATE(#{dateSTR}, '%Y-%m-%d'), '%Y')
           OR DATE_FORMAT(overTime, '%Y') >= DATE_FORMAT(STR_TO_DATE(#{dateSTR}, '%Y-%m-%d'), '%Y');
    </select>


    <insert id="add" useGeneratedKeys="true" keyProperty="newTE.id">
        INSERT INTO ${tableName}
        (name,startTime, overTime,
         setInViewPage, text, completed)
        values
            (#{newTE.name},#{newTE.startTime},#{newTE.overTime},
             #{newTE.setInViewPage}, #{newTE.text}, #{newTE.completed})
    </insert>
    <delete id="delete">
        DELETE FROM ${tableName}
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE ${tableName}
        <set>
            <if test="newTE.name != null">
                name = #{newTE.name},
            </if>
            <if test="newTE.startTime != null">
                startTime = #{newTE.startTime},
            </if>
            <if test="newTE.overTime != null">
                overTime = #{newTE.overTime},
            </if>
            <if test="newTE.setInViewPage != null">
                setInViewPage = #{newTE.setInViewPage},
            </if>
            <if test="newTE.text != null">
                text = #{newTE.text},
            </if>
            <if test="newTE.isCompleted != null">
                completed = #{newTE.completed}
            </if>
        </set>
        WHERE id = #{newTE.id}

    </update>

</mapper>