<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TimeFlow.mapper.user.UserMapper">
    <update id="updateUserData">
        UPDATE user
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="password!=null">
                password = #{password},
            </if>
        </set>
        WHERE uid = #{uid}
    </update>
    <delete id="userDelete">
        DELETE
        FROM user
        WHERE uid = #{uid}
    </delete>
    <delete id="dropTable">
        DROP TABLE ${tableName}
    </delete>
    <select id="findUserByUid" resultType="TimeFlow.pojo.User">
        SELECT *
        FROM user
        WHERE uid = #{uid}
    </select>
    <select id="findUserByName" resultType="TimeFlow.pojo.User">
        SELECT *
        FROM user
        WHERE name = #{name}
    </select>
</mapper>